<% provide(:title, "Help") %>
<h1>Ayuda</h1>
<p>Modificar los datos de un usuario no funciona correctamente en producci칩n, tampoco se pueden subir im치genes ni recibir correos de la web. Siento si est치s en esta p치gina por alguno de esos motivos :(.</p>
