<h1>Aplicacion de ejemplo</h1>

<p> Holo <%= @user.name %>,</p>

<p>
  Bienvenido a la aplicacion de ejemplo!:D Clica en el link para activar tu cuenta:
</p>

<%= link_to "Activar", edit_account_activation_url(@user.activation_token, email: @user.email) %>
